# Dependencies
node_modules/

# Build output
dist/

# Environment files
.env
.env.local

# Database
*.db
*.db-journal

# Prisma
prisma/dev.db

# Logs
logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Netlify
.netlify
